// variables

// light colors
$light-body-bg: #ffffff;
$light-primary-color: #3A4EDD;
$light-primary-color-light: #EBEDFC;
$light-secondary-color: #2FC89A;
$light-black-color: #24345E;
$light-grey-color: #777777;

// dark colors
$dark-body-bg: #0d0c22;
$dark-box: #ffffff0f;
$dark-white-color: #fff;
$dark-grey-color: #7a7a7a;
$dark-border: #393939;

// fonts

$font-x-small: 12px;
$font-small: 13px;
$font-medium: 14px;
$font-medium-2: 15px;
$font-big: 16px;
$font-large: 17px;

// other variables

$max: 'max-width: 768px';
$min--mobile: 'min-width: 768px';
$min--desk: 'min-width: 1024px';